*{
  padding:0;
  margin: 0%;
  font-family:'Dancing Script',cursive;
  overflow-x:hidden;
  transition: 0.3s ease;}

  button{
    border: 0;

  }
header{
  display: flex;
  justify-content: space-between;
  border: solid 0.17rem black;

  background-color: rgb(189, 235, 219);
  border-radius: 20px;
  position: fixed;
  top: 0;
  z-index: 10000;
  padding: 0% 10% 0 5%;
  margin-left: 1rem;
  width: 

}
.stick img{
  height: 4vh;
  align-self: center;
  position: relative;
  
}
 .stick h1{
  font-size: 3rem;
  
 }
 ul,
 li,
 a{
  list-style:none;
  display: flex;
  margin-left: 1vh;

  
 }
 a{
  color: rgb(19, 19, 19);
  text-decoration: none;
  border: solid 0.14rem black;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(233, 195, 236);
}
section{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 0px;


}
.product1{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 20%;
  margin-left: 25px;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 50px;
}
.product2{
  grid-row: 2/3;
  grid-column: 2/1;
  margin-top: 20%;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 50px;
}
.product3{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 20%;
  margin-left: 25px;
}
.product4{ grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 20%;

}

.product5{
  grid-row: 3/4;
  grid-column: 1/2;
  margin-top: 20%;
  margin-left: 25px;
}

section img{
  width: 20vh;
  margin-top: 5%;
  box-sizing: border-box;
  grid-row: 2/3;
  grid-column: 1/2;
  border: double royalblue 4px;
  box-shadow: 4px 5px 7px 10px rgba(233, 32, 149, 0.411);
}
section h1{
  font-size: xx-large;
  color: darkorchid;
}
section h4{
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.y{
  grid-row: 3/4;
  grid-column: 2/3;
  margin-top: 50%;
}
 i {
  width: 30px;
  color: darkgreen;
  font-size: 1rem;
}
.product2 h1{
  font-size: xx-large;
  color: darkorchid;
}
.product2 h4{
  font-weight: 600;
  color: rgb(0, 0, 0);
  grid-row: 2/3;
  grid-column: 1/2;
}
.product3 h1{
  font-size: xx-large;
  color: darkorchid;
}
.product3  h4{
  font-weight: 600;
  color: rgb(0, 0, 0);}
  a:hover{
    background-color: blueviolet;
    font-size: xx-large;
  } 
  i:hover{
    width: 40px;
    font-size: xx-large;
  }